header {
    background-image:radial-gradient(rgba(120,200,30, .5) 30%, rgba(30,120,200, 1));
}
h2{
    background-color:rgba(30,120,200, .5);
    color: rgba(0, 0, 0, 100);
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: auto;
    width: 500px;
    object-fit: cover;
    
}